html {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0 auto;
  scroll-behavior: smooth;
  width: auto;
}

body {
  background-color: #3d3d3d;
  background-image: url("../images/calla.lily.full.page.png");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: auto;
  background-attachment: scroll;
  height: 100vh;


}

.container {
  align-items: center;
  margin: auto;
  max-width: 1200px;
}

/*tab bar nav*/
nav {
  background-color: #FFFDF7;
  box-sizing: border-box;
  height: 10rem;
  left: 0rem;
  mix-blend-mode: normal;
  position: fixed;
  top: 0rem;
  width: 100%;
  z-index: 5;
}

.nav-links {
  align-items: center;
  display: flex;
  float: right;
  line-height: 150%;
  margin-right: 2rem;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
  text-align: center;
  text-decoration: none;
}
.nav-links li {
  height: 3rem;
  text-align: center;
  width: 9rem;

}

.nav-links a {
  align-items: center;
  color: #3D3D3D;
  font-family: "Righteous", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  line-height: 150%;
  text-align: center;
  text-decoration: none;
}


.logo {
  border: 0;
  margin-left: 2rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  width: 8rem;
}

/*hero*/

.hero {
  padding-top: 16rem;
  padding-bottom: 2rem;
}


.hero h1 {
  color: #E07C7C;
  font-family: "Righteous", sans-serif;
  font-size: 7.2rem;
  line-height: 120%;
  max-width: 45rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFFDF7;;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  z-index: 2;
}

.mini-bio {
  color: #FFFDF7;
  font-family: "Lato", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  line-height: 120%;
  max-width: 60rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.calla-lily {
  display: none;
}

/*projects*/

.projects {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.project-card {
  align-content: center;
  background-color: #FFFDF7;
  border-radius: 2rem;
  height: 50rem;
  margin: 2rem;
  max-width: 30rem;
  min-width: 30rem;
  text-align: center;

}

.project-card h2 {
  align-self: center;
  color: #E07C7C;
  font-family: "Righteous", sans-serif;
  font-size: 4.8rem;
  line-height: 150%;
  height: 6rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3D3D3D;
  padding-bottom: 1rem;
  padding-top: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  width: 100%;
}

.project-card h3 {
  color: #3d3d3d;
  font-family: "Lato",sans-serif;
  font-size: 1.8rem;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: left;
  padding: 1rem;
  width: 20rem;
}

/*chips*/

.chipbox {
  display: inline-flex;
  flex-wrap: wrap;
  height: auto;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-bottom: 1rem;
  width: 20rem;
}


.UXchip {
  background: rgba(224, 124, 124, 0.8);
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  height: 2.6rem;
  vertical-align: middle;
  margin: 0.5rem;
  text-align: center;
  vertical-align: baseline;
  width: 3rem;

}

.UIchip {
  background: rgba(224, 124, 124, 0.2);
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  height: 2.6rem;
  vertical-align: middle;
  margin: 0.5rem;
  text-align: center;
  vertical-align: baseline;
  width: 3rem;
}

.RESEARCHchip {
  background: rgba(224, 124, 124, 0.6);
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  border-radius: 5px;
  height: 2.6rem;
  margin: 0.5rem;
  text-align: center;
  vertical-align: baseline;
  width: 10rem;
}

.FIGMAchip {
  background: rgba(224, 124, 124, 0.4);
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  border-radius: 5px;
  height: 2.6rem;
  margin: 0.5rem;
  text-align: center;
  vertical-align: baseline;
  width: 5.5rem;
}

.JQUERYchip {
  background: rgba(224, 124, 124, 0.4);
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  border-radius: 5px;
  height: 2.6rem;
  margin: 0.5rem;
  text-align: center;
  vertical-align: baseline;
  width: 6rem;
}

.VISUALDESIGNchip {
  background: rgba(224, 124, 124, 1.0);
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  border-radius: 5px;
  height: 2.6rem;
  margin: 0.5rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 11rem;
}

.PROTOTYPEchip {
  background: rgba(224, 124, 124, 0.8);
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  border-radius: 5px;
  height: 2.6rem;
  margin: 0.5rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 10rem;
}

.JAVASCRIPTchip {
  background: rgba(224, 124, 124, 0.8);
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  border-radius: 5px;
  height: 2.6rem;
  margin: 0.5rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 9rem;
}

.SKETCHchip {
  background: rgba(224, 124, 124, 1.0);
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  border-radius: 5px;
  height: 2.6rem;
  margin: 0.5rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 7rem;
}

.FRONTENDchip {
  background: rgba(224, 124, 124, 0.6);
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  border-radius: 5px;
  height: 2.6rem;
  margin: 0.5rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 18rem;
}

.INVISIONchip {
  background: rgba(224, 124, 124, 0.4);
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  border-radius: 5px;
  height: 2.6rem;
  margin: 0.5rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 7rem;
}



.chip__text {
  align-items: center;
  color: #000000;
  font-family: "Righteous",sans-serif;
  font-size: 1.2rem;
  line-height: 200%;
  letter-spacing: 0.05rem;
  padding: 0.5rem;
  text-align: center;
  text-indent: 0.2rem;
}


.project-button {
  align-items: center;
  background-color: #3D3D3D;
  border-radius: 20px;
  color: #FFFDF7;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  display: block;
  height: 10rem;
  font-family: "Righteous", sans-serif;
  font-size: 2.4rem;
  letter-spacing: 0.05em;
  line-height: 150%;
  margin-bottom: 6rem;
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
  padding-top: 2rem;
  text-align: center;
  min-width: 18rem;
  max-width: 20rem;
  transition: 1s;
  transition-timing-function: ease-in-out;
}

.project-button:hover {
  background-color: rgba(224, 124, 124, 0.2);
  border: 2px solid #3D3D3D;
  color: #3D3D3D;
  transform: scale(1.1);
  transition: 1s;
  transition-timing-function: ease-in-out;
}

.big-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  text-align: center;
  width: 100%;
}

.big-logo-white {
  width: 16rem;
}


/*footer*/

footer {
  align-items: center;
  background-color: #E07C7C;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  margin-bottom: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}


.footer-p1 {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  color: #3D3D3D;
  font-family: "Lato",sans-serif;
  font-size: 1.4rem;
  padding-left: 2rem;
  text-align: left;
}

.footer-p2 {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  color: #3D3D3D;
  font-family: "Lato",sans-serif;
  font-size: 1.4rem;
  text-align: right;
}

.social-links {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

}

.footer-icon {
  margin: 1rem;
}

.music-icon {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}



@media only screen and (max-width: 1190px)

 {
   body {
     background-color: #3D3D3D;
     background-image: url(".");
     background-repeat: no-repeat;
     background-position: top;
     background-attachment: fixed;
     background-size: auto;
     background-attachment: scroll;
     height: 100vh;

   }

   .hero {
     align-items: center;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin-bottom: 2rem;
     padding-top: 12rem;
   }

   .calla {
     display: flex;
     justify-content: space-around;
     padding: 2rem;
   }


   .calla-lily {
     display: flex;
     max-height: 60rem;
     justify-content: center;
     width: 18rem;
   }

}




   @media only screen and (max-width: 760px)

  {

       .hero {
           display: block;
           width: auto;
           padding-bottom: 2rem;
         }

         .calla {
           display:  flex;
           justify-content: center;
           margin: 0 auto;
         }


         .calla-lily {
           display: flex;
           height: auto;
           justify-content: center;
           padding-top: 2rem;
           width: 20rem;
         }

         .winder-dashboard-detail {
           width: 24rem;
         }

         .chipbox-project {
           width: 100%;
         }





   /*footer*/

   footer {
     align-items: center;
     background-color: #E07C7C;
     display: grid;
     grid-row-gap: 1rem;
     grid-template-columns: auto;
     grid-template-rows: auto;
     justify-content: center;
     margin-bottom: 0;
     padding-bottom: 2rem;
     padding-top: 1rem;
     width: 100%;
   }

   .footer-p1 {
     align-items: center;
     display: flex;
     justify-content: space-around;
     color: #3D3D3D;
     font-family: "Lato",sans-serif;
     font-size: 1.4rem;
     max-width: 30rem;
     padding-left: 0;
     text-align: left;
   }

   .footer-p2 {
     align-items: flex-end;
     display: flex;
     justify-content: center;
     color: #3D3D3D;
     font-family: "Lato",sans-serif;
     font-size: 1.4rem;
     text-align: right;
   }

   .social-links {
     align-items: center;
     display: flex;
     justify-content: space-around;
     text-align: center;

   }

   .footer-icon {
     margin: 1rem;
   }

   .music-icon {
     display: none;
   }

 }
