html {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0 auto;
}


/*tab bar nav*/
nav {
  background-color: #ffffff;
  border-bottom: .01rem solid #e5e5e5;
  height: 6rem;
  left: 0rem;
  mix-blend-mode: normal;
  position: fixed;
  top: 0rem;
  width: 100%;
  z-index: 5;

}

.nav-links {
  display: flex;
  float: right;
  margin-right: 1.6rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-decoration: none;
}


.nav-links a {
  align-items: center;
  color: #272728;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 150%;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;


}


.logo {
  border: 0;
  height: 4rem;
  margin-bottom: 1rem;
  margin-left: 1.6rem;
  margin-top: 1rem;
  position: fixed;
  width: 3.4rem;

}

/*hero*/


.hero-pic {
  margin-top: 6rem;
  width: 100%;
}

.hero h1 {
  bottom: 40%;
  color: #272728;
  font-family: "Poppins", sans-serif;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  height: 9rem;
  left: 60%;
  letter-spacing: 0.02rem;
  line-height: 150%;
  position: absolute;
  right: 5%;
  top: 15%;
  z-index: 2;

}

.mini-bio {
  color: #272728;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-bottom: 1rem;
  margin-left: 3.8rem;
  margin-right: 3.7rem;
  margin-top: 2rem;

}

.see-more h4 {
  align-self: center;
  color: #272728;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: bold;
  height: 5rem;
  letter-spacing: 0.02rem;
  line-height: 150%;
  padding-top: 2rem;
  text-align: center;
  width: 100%;

}

a {
  color: inherit;
  text-decoration: none;

}

@keyframes bounce {
  from {height: 1.5rem; padding-bottom: 2.5rem;}
  to {height: 2rem; padding-bottom: 2rem;}
}


.see-more .arrow {
  align-self: center;
  animation-name: bounce;
  animation-delay: 5s;
  animation-duration: 1s;
  animation-iteration-count: 6;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  bottom: 10%;
  height: 2rem;
  left: 45%;
  padding-bottom: 2rem;
  position: relative;
  right: 45%;
  text-align: center;
  top: 10%;
  width: 10%;
}

.container h2 {
  align-items: center;
  color: #272728;
  display: flex;
  font-family: "Poppins",sans-serif;
  font-size: 5.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 8.1rem;
  margin-left: 3.8rem;
  margin-right: 3rem;
  padding-top: 4rem;
}


h3 {
  align-items: center;
  color: #272728;
  font-family: "Poppins",sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  height: 9rem;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-bottom: 2rem;
  margin-left: 3.8rem;
  margin-right: 3.7rem;
  margin-top: 2rem;


}

.bio {
  margin: 2rem;
  padding-bottom: 2rem;
}

.bio h2 {
  margin-left: 1.6rem;
  margin-top: 4rem;

}

.bio h3 {
  align-items: center;
  color: #272728;
  display: flex;
  font-family: "Poppins",sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  height: 2rem;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-left: 1.6rem;
  margin-top: 2rem;
  width: 33rem;

}

.winder-pic {
  align-self: center;
  height: 65rem;
  margin-left: 3.8rem;
  margin-right: auto;
  width: 80%;


}

.busybus-pic {
  align-self: center;
  height: 65rem;
  margin-left: 3.8rem;
  margin-right: auto;
  width: 80%;



}


.project-winder {
  background-color: hsla(0, 99%, 68%, .05);
  padding-bottom: 2rem;
  padding-top: 2rem;

}

.project-winder h2 {
  color: #FE5D5D;
}

.project-busybus h2 {
  color: #F2A946;
}

.project-busybus h3 {
  color: #ffffff;
}

.project-busybus {
  background-color: #000000;
  padding-bottom: 2rem;
  padding-top: 2rem;
}


/*buttons*/




.button {
  align-items: center;
  align-self: center;
  background-color: #FE5D5D;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  font-family: "Poppins",sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  height: 6rem;
  justify-content: center;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-bottom: 4rem;
  margin-top: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  text-decoration: none;
  width: 80%;

}
.button :visited {
 color: inherit;
}


.button-busybus {
  align-items: center;
  align-self: center;
  background-color: #F2A946;
  border-radius: 5px;
  color: #000000;
  display: flex;
  font-family: "Poppins",sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  height: 6rem;
  justify-content: center;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-bottom: 4rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2rem;
  text-decoration: none;
  width: 80%;

}

.button-busybus :visited {
color: inherit;
}

.sketches {
  margin-bottom: 2rem;
  margin-left: 3.9rem;

}

.sketches-narrow {
  display: flex;
  margin-left: 3.8rem;
  margin-bottom: 2rem;

}

.sketches-narrow-item {
  display: flex;
  padding: .5rem;
  width: 80%;

}

.mockups {
  padding: 3.9rem;

}

p {
  color: #272728;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-bottom: 3rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  margin-top: 2rem;

}

/*Contact Form*/

.contact {
  background-color: hsla(240, 1%, 15%, 0.8);
  padding-bottom: 1rem;

}

.contact h2 {
  color: #ffffff;
  margin-left: 3.8rem;
  margin-top: 4rem;

}


.name {
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  font-family: "Poppins",sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  height: 6rem;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-bottom: 1rem;
  margin-left: 10%;
  margin-top: 1rem;
  text-indent: 1rem;
  width: 80%;

}

.email {
  align-items: flex-start;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  color: #272728;
  display: flex;
  font-family: "Poppins",sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  height: 6rem;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-bottom: 1rem;
  margin-left: 10%;
  margin-top: 1rem;
  text-indent: 1rem;
  width: 80%;

}

.message {
  align-items: flex-start;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  color: #272728;
  font-family: "Poppins",sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 100;
  height: 20rem;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-bottom: 1rem;
  margin-left:  10%;
  text-indent: 1rem;
  width: 80%;

}

.contact-button {
  align-items: center;
  align-self: center;
  background-color: #ffffff;
  border-radius: 5px;
  color: #272728;
  display: flex;
  font-family: "Poppins",sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  height: 6rem;
  justify-content: center;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-bottom: 4rem;
  margin-left: 10%;
  margin-right: 10%;
  text-decoration: none;
  width: 80%;


}

.contact-button :visited {
  color: inherit;
}

/*chips*/

.chipbox-winder {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 3.3rem;
}

.mdl-chip-winder {
  background-color: #FECDCD;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  margin: 0.25rem;
  padding: 0.3rem;

}

.chipbox-busybus {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 3.3rem;
}

.mdl-chip-busybus {
  background-color: #F9DEBE;
  border-radius: 50px;
  display: flex;
  height: 3.2rem;
  justify-content: center;
  margin: 0.25rem;
  padding: 0.3rem;

}

.mdl-chip__text {
  color: #000000;
  font-family: "Poppins",sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 250%;
  letter-spacing: 0.02rem;
  text-align: center;
  text-indent: 0.2rem;

}


/*footer*/

footer {
  background-color: #272728;
  bottom: 0;
  height: 6rem;
  width: 100%;

}

.social-links {
  align-items: center;
  display: flex;
  height: 6rem;
  justify-content: center;

}


.email-icon {
  border: 0;
  height: 2.5rem;
  width: 2.8rem;


}

.github-icon {
  border: 0;
  height: 3.2rem;
  margin-left: 6rem;
  margin-right: 6rem;
  width: 3rem;


}

.linkedin-icon {
  border: 0;
  height: 2.7rem;
  width: 3.2rem;

}



/*project page specific stuff*/

.container-project {
  margin-top: 6rem;
}

.winder-desktop-landing-page-pic {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 80%;

}

.container-project h1 {
  align-items: center;
  color: #FE5D5D;
  display: flex;
  font-family: "Poppins",sans-serif;
  font-size: 5.4rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-left: 3.8rem;
  margin-top: 4rem;

}

 h2 {
  align-items: center;
  color: #272728;
  display: flex;
  font-family: "Poppins",sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 150%;
  margin-left: 3.8rem;

}

.container-project h3 {
  align-items: center;
  color: #272728;
  display: flex;
  font-family: "Poppins",sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-bottom: 0rem;
  margin-left: 3.8rem;
  margin-right: 3.7rem;
  margin-top: 3rem;


}

.container-project p {
    color: #272728;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.02rem;
    line-height: 150%;
    margin-bottom: 2rem;
    margin-left: 3.8rem;
    margin-right: 3.7rem;
    margin-top: 0;
    padding-bottom: 1rem;

  }


.winder-dashboard-detail {
  margin-left: 3.8rem;
  margin-right: 3.7rem;
  margin-top: 1rem;
  width: 80%;

}

.research-stats {
  background-color: hsla(0,99%,68%,5%);
  border-radius: 5px;
  height: 22rem;
  margin-bottom: 1rem;
  margin-left: 3.8rem;
  margin-right: 3.7rem;
  margin-top: 1rem;
  width: auto;

}

.research-percent {
  align-self: baseline;
  color: #FE5D5D;
  font-family: "Poppins",sans-serif;
  font-size: 5.4rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-top: 2rem;

}

.research-figcaption  {
  color: #272728;
  font-family: "Poppins",sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-left: 4.8rem;
  margin-right: 3rem;

}

.competitor-icons {
  display: inline-flex;
  margin: 2rem;
  width: 90%;
}

.pinterest-icon {
  height: 6rem;
  padding: 2rem;
  width: 6rem;



}

.box-icon {
  height: 4rem;
  padding: 3rem;
  width: 7rem;

}

.evernote-icon {
  height: 6.4rem;
  padding: 2rem;
  width: 6.4rem;

}

.persona-image {
  height: 46rem;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.user-stories ul {

  list-style-type: square;

}


.user-stories li {
  align-items: center;
  color: #FE5D5D;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
  height: 2rem;
  letter-spacing: 0.02rem;
  line-height: 120%;
  margin-bottom: 2rem;
  margin-left: 7rem;
  margin-right: 3rem;
  margin-top: 2rem;
  width: 27rem;

}

.content-strategy ul {

  list-style-type: square;

}


.content-strategy-quotes li {
  align-items: center;
  color: #FE5D5D;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
  height: 2rem;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-bottom: 2rem;
  margin-left: 6rem;
  margin-right: 3rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 27rem;


}


.flow-image {
  margin: 3.7rem;
}

.branding-links-button {
  align-items: center;
  align-self: center;
  background-color: #F2A946;
  border-radius: 5px;
  color: #000000;
  display: flex;
  font-family: "Poppins",sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  height: 6rem;
  justify-content: center;
  letter-spacing: 0.02rem;
  line-height: 150%;
  margin-bottom: 4rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2rem;
  text-decoration: none;
  width: 80%;

}

.long-mockups {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 4rem;
  width: 80%;
}

/*for iPad*/


/*@media only screen and (min-width: 768px) {


  .hero h1 {
    font-size: 54px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #272728;
    line-height: 150%;
    letter-spacing: 0.02em;
    position: absolute;
    left: 60%;
    right: 5%;
    top: 20%;
    bottom: 45%;
    height: 9rem;




  }

.see-more .arrow {
  align-self: center;
  text-align: center;
  width: 5%;
  position: relative;
  left: 47.5%;
  right: 47.5%;
  top: 8.23%;
  bottom: 91.5%;
  height: 20px;


}

.button {
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: #FE5D5D;
  height: 60px;
  width: 40%;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 3.5%;
  margin-right: 5%;
  text-decoration: none;

}

.button-busybus {
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #000000;
  background-color: #F2A946;
  height: 60px;
  width: 40%;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 3.5%;
  margin-right: 5%;
  text-decoration: none;

}

  .branding-links-button {

    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #000000;
    background-color: #F2A946;
    height: 60px;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 3.5%;
    margin-right: 5%;
    text-decoration: none;

  }




.winder-pic {
  justify-content: space-around;
  width: 330px;
  height: 570px;
  padding: 2%;
}

.busybus-pic {
  justify-content: space-around;
  width: 340px;
  height: 650px;
  padding: 2%;
}
*/

/*contact form*/

/*
.name {
  background: #E5E5E5;
  border: 1px solid rgba(39, 39, 40, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
  width: 96%;
  margin: 16px;
  color: #272728;


}

.email {
  background: #E5E5E5;
  border: 1px solid rgba(39, 39, 40, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
  width: 96%;
  height: 90px;
  margin: 16px;
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.02em;
  text-indent: 10px;
  color: #272728;


}
.message {
  background: #E5E5E5;
  border: 1px solid rgba(39, 39, 40, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
  width: 96%;
  height: 1060px;
  margin: 16px;
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-indent: 10px;
  color: #272728;

}

.contact-button {
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #272728;
  background-color: #ffffff;
  height: 60px;
  width: 40%;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 5%;
  text-decoration: none;


}

*/
/*for iPad Pro */
/*
@media only screen and (min-width: 1020px) {


  .hero h1 {
    font-size: 54px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #3C53CD;
    line-height: 150%;
    letter-spacing: 0.02em;
    position: absolute;
    left: 61.47%;
    right: 4.27%;
    top: 20.97%;
    bottom: 48.27%;
    height: 90px;



  }

.see-more .arrow {
  align-self: center;
  text-align: center;
  width: 5%;
  position: relative;
  left: 47.5%;
  right: 47.5%;
  top: 8.23%;
  bottom: 91.5%;
  height: 20px;


}

.button {
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: #FE5D5D;
  height: 60px;
  width: 30%;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 3.5%;
  margin-right: 5%;



}


.winder-pic {
  justify-content: space-around;
  width: 340px;
  height: 500px;
  padding: 2%;
}

.busybus-pic {
  justify-content: space-around;
  width: 340px;
  height: 650px;
  padding: 2%;
}
*/
/*contact form*/

/*
.name {
  background: #E5E5E5;
  border: 1px solid rgba(39, 39, 40, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
  width: 96%;
  height: 90px;
  margin: 16px;
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-indent: 10px;
  color: #272728;


}

.email {
  background: #E5E5E5;
  border: 1px solid rgba(39, 39, 40, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
  width: 96%;
  height: 90px;
  margin: 16px;
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.02em;
  text-indent: 10px;
  color: #272728;


}
.message {
  background: #E5E5E5;
  border: 1px solid rgba(39, 39, 40, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
  width: 96%;
  height: 1060px;
  margin: 16px;
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-indent: 10px;
  color: #272728;


}

.contact-button {
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #272728;
  background-color: #ffffff;
  height: 60px;
  width: 40%;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 5%;



}
*/


/*for smaller cell phones */



@media only screen and (max-width: 360px) {


  /*tab bar nav*/
  nav {
    background-color: #ffffff;
    border-bottom: .01rem solid #e5e5e5;
    height: 6rem;
    left: 0rem;
    mix-blend-mode: normal;
    position: fixed;
    top: 0rem;
    width: 100%;
    z-index: 5;

  }

  .nav-links {
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-decoration: none;
  }


  .nav-links a {
    align-items: center;
    color: #272728;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 150%;
    padding: 0.25rem;
    text-align: center;
    text-decoration: none;


  }


  .logo {
    border: 0;
    height: 4rem;
    margin-bottom: 1rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-top: 1rem;


  }



  .hero h1 {
    bottom: 40%;
    color: #272728;
    font-family: "Poppins", sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: bold;
    margin-left: 0%;
    letter-spacing: 0.02rem;
    line-height: 150%;
    position: absolute;
    right: 5%;
    top: 15%;
    z-index: 3;

  }
